:root {
  --base-width: 512px;
  --btn-primary-color: #0074e9;
  background-color: #87888e;
  color: #282828;
}

.container {
  display: flex;
  flex-wrap: wrap;
  /* margin: 0 auto; */
  max-width: var(--base-width);
  gap: 24px;
}

.card {
  width: 244px;
  position: relative;
  padding: 16px;

  display: grid;
  align-items: flex-end;
  justify-items: center;
  grid-template-areas:
    "logo"
    "title"
    "product";
  grid-template-rows: 0.8fr 1fr;

  border-radius: 8px;

  background-color: white;
  transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {
  box-shadow: 0px 0px 16px 6px #5f5f638d, 1px 1px 2px 1px #68686954;
}

/* card description styles */
.card h2 {
  font-size: 20px;
  grid-area: title;
  padding: 8px 0;
  margin-top: 0;
  margin-bottom: auto;
  pointer-events: none;
}

.product-logo {
  grid-area: logo;
}

.product {
  grid-area: product;
}

/* large card styles */
.large {
  width: 100%;
  grid-template-areas:
    "logo product"
    "title product";
}

.large .product-logo {
  width: 70%;
}

.large h2 {
  font-size: 24px;
  padding: 24px 0;
}

/*  purchase button styles */
.purchase-btn {
  position: absolute;
  left: 14px;
  bottom: 14px;

  padding: 18px 14px;
  width: 48px;

  font-family: inherit;
  font-size: 18px;

  border-radius: 6px;

  overflow: hidden;

  color: white;
  background-color: #a9a9a9;

  cursor: pointer;
  transition: width 200ms cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.purchase-btn:hover {
  width: 112px;
  background-color: #0091ff;
}

.purchase-btn:focus-visible {
  width: 112px;
  background-color: #0091ff;
  outline: 3px solid orange;
  outline-offset: 3px;
}

.purchase-text {
  position: absolute;
  top: 50%;
  left: 16px;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(-50%) translateX(-80px);

  transition: opacity 100ms 200ms;
}

.purchase-btn:hover .purchase-text,
.purchase-btn:focus-visible .purchase-text {
  opacity: 1;
  transform: translateY(-50%);
}

.btn-wrapper {
  pointer-events: none;
  display: flex;
  justify-content: flex-end;
}

.right-arrow {
  padding: 4px;

  border-bottom: 2px solid white;
  border-right: 2px solid white;

  transform: translateX(-6px) rotate(-45deg);
  -webkit-transform: translateX(-6px) rotate(-45deg);
}
